h2 {
    position: absolute;
    top: 40px;
    left: 5%;
    color: #FFFFFF;
    font-family: sans-serif;
}



.main-text {
    position: absolute;
    top: 250px;
    /* left: 100px; */
    text-align: center;
    color: #fff;
}

/* li{
   left: 100px;
    display: inline;
    list-style-type: none;
} */
hr {
    color: aqua;
    padding-top: 5px;
    margin-top: 100px;
    width: 80px;
    margin-left: 150px;


}

.text-area-2 {
    padding-left: 150px;
    padding-top: 50px;
}

.text-area>h2 {
    color: aqua
}

.mahi>li {
    color: #00ffff;
}

a {
    color: aqua;
}

a:link {
    color: aqua;
}

a:hover {
    color: black;
}

.img-a {
    position: absolute;
    top: 847px;
    left: 750px;
    width: 500px;

}

.img-b {
    position: absolute;
    top: 1100px;
    left: 750px;
    width: 500px;

}

.img-c {
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
}

.para {
    position: absolute;
    top: 1800px;
    left: 350px;
    border: 2px solid #fff;
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

.profile-area-3 {
    position: absolute;
    width: 1500px;
    top: 2200px;
    background-color: #708090;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
    color: #fff;
}

.info {
    position: absolute;
    top: 2630px;
    width: 800px;
    text-align: center;
    background-color: #fff;
    margin-left: 350px;
    border: 2px solid #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: large;
}

.vv {
    padding-left: 150px;
    top: 3000px;
    position: absolute;
}

/* .h5{
   
    top: 20px;
    position: absolute; 
}*/
.card-a {
    position: absolute;
    top: 3100px;
    left: 150px;
}

.how {
    font-size: x-large;
}

.how:hover {
    color: aqua;
}

.card-b {
    position: absolute;
    left: 600px;
    top: 3100px;
}

.card-c {
    position: absolute;
    left: 1100px;
    top: 3100px;
}

.work {

    border: 2px solid #B0E0E6;
    position: absolute;
    top: 3700px;
    left: 330px;
    text-align: center;
    padding: 80px;
    line-height: 30px;
    background-color: #B0E0E6;
    opacity: 0.8;

}

.img-v {
    position: absolute;
    top: 3600px;
    left: 50px;
    margin-left: 0%;
    z-index: -1;
}

.profile-area-5 {
    border: 2px solid #708090;
    background-color: #708090;
    z-index: -1;
    margin-top: 2960px;
    padding-bottom: 200px;

}

.profile-area-5 ul {
    position: absolute;
    list-style: none;
    top: 4300px;

}

ul li {
    display: inline;
    padding-left: 50px;
    font-size: 20px;
    font-style: sans-serif;
    /* color: #fff; */
    /* background-color: #708090; */

}

.ava ol {
    position: absolute;
    top: 4350px;
    list-style: none;
}

ol li {
    display: inline;
    padding-left: 50px;
}

.kv {
    position: absolute;
    top: 4300px;
    left: 1200px;
    background-color: antiquewhite;
    padding: 10px;
}

.kv:hover {
    background-color: aqua;
}

i {
    color: #00ffff;
    padding-left: 25px;
    padding-top: 70px;
    size: 100px;
}

.profile-area-1 .mahi {
    position: absolute;
    top: 0px;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown:hover {
    text-decoration: underline aqua;

}

.dropdown-content a {
    color: black;
    display: none;
    margin-left: 550px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* .dropdown-content{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */
.dropdown:hover .dropdown-content {
    display: block;
}